<div class="container">
  <h3 class="mat-h3">Faça o seu cadastro</h3>
  <form class="my-form">
    <mat-form-field class="full-width" appearance="fill">
      <mat-label>Endereço de Email</mat-label>
      <input matInput type="email" value="" #userEmail required />
    </mat-form-field>
    <mat-form-field class="full-width" appearance="fill">
      <mat-label>Senha</mat-label>
      <input matInput type="password" #userPassword required autocomplete="current-password"/>
    </mat-form-field>
  </form>
  <button
    mat-raised-button
    (click)="authService.signUp(userEmail.value, userPassword.value)"
    class="google"
  >
    Cadastrar
  </button>
  <div class="or">
    <span class="orInner">ou</span>
  </div>
  <!-- Calling GoogleAuth Api from AuthService -->
  <button mat-raised-button (click)="authService.googleLogin()" class="google">
    <mat-icon
      style="width: 40px; height: 24px"
      svgIcon="google_logo"
    ></mat-icon>
    Continuar com conta Google
  </button>
  <div class="redirectToLogin">
    <span>Já possui um cadastro? <a routerLink="/login" routerLinkActive="active"
      >Faça o Login</a
    ></span>
  </div>
</div>
