<div class="container" *ngIf="authService.user | async as user">
  <ul>
    <li>
      Email: <strong>{{ user.email }}</strong>
    </li>
    <li>
      Name:
      <strong>{{ user.displayName ? user.displayName : "User" }}</strong>
    </li>
    <li>
      Email verified: <strong>{{ user.emailVerified }}</strong>
    </li>
    <li>
      Uid: <strong>{{ user.uid }}</strong>
    </li>
    <li>
      LoginMode: <strong>{{ user.loginMode }}</strong>
    </li>
  </ul>
  <button mat-raised-button routerLink="/excluir-perfil">
    Excluir Perfil
  </button>
</div>
