<div class="container">
  <h2 class="mat-h2">Página Inicial</h2>
  <div class="redirectToLogin" *ngIf="authService.user | async; else loggedOut">
    <span
      >Você está Logado. Mas ainda não consegue fazer nada. O site ainda está em desenvolvimento</span
    >
  </div>
  <ng-template #loggedOut>
    <div class="redirectToLogin" *ngIf="!(authService.user | async)">
      <span
        >Já possui um cadastro?
        <a routerLink="/login" routerLinkActive="active">Faça o Login</a></span
      >
    </div>
  </ng-template>
</div>
