.infos {
    display: flex;
    justify-content: center;
}
.infos mat-card {
    width: 80%;
    max-width: 720px;
    margin: 10px 0;
}
.infos mat-card-title-group { 
    justify-content: flex-end;
    flex-direction: row-reverse;
    margin-bottom: 10px;
}

.infos mat-card-title-group img {
    margin-right: 10px;
}
