<div class="container">
  <h2 class="mat-h2">Você chegou!</h2>
  <div
    class="redirectToLogin text-center"
    *ngIf="authService.user | async; else loggedOut"
  >
    <span>Você está Logado. Aproveite o que te oferecemos.</span>
    <div class="margin-top-10">
      <span>
        Navegue para o:
        <a (click)="nav.navigateTo('painel', userUid)" routerLink="">Seu Painel</a></span
      >
    </div>
  </div>
  <ng-template #loggedOut>
    <div class="redirectToLogin" *ngIf="!(authService.user | async)">
      <span
        >Já possui um cadastro? <a (click)="nav.navigateTo('login', userUid)" routerLink="">Faça o Login</a></span
      >
    </div>
    <div class="margin-top-10">
      <span>
        Não tem cadastro?
        <a routerLink="/cadastro">Crie um</a></span
      >
    </div>
  </ng-template>
  <div class="infos">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Como fazer o seu currículo?</mat-card-title>
        <mat-card-subtitle>{{ anoAtual() }}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image [src]="assets.getUrl('/assets/img/inicial-1.jpg')" />
      <mat-card-content>
        Você precisa apenas preencher os seus dados para conseguir gerar um pdf. Você pode
        compartilhar ou não os dados do seu currículo com recrutadores. E,
        também pode fazer o download do pdf. Assim poderá imprimir ou enviar por email sempre que
        precisar.
      </mat-card-content>
    </mat-card>
  </div>
</div>
