<div class="container">
  <h2 class="mat-h2">Obrigado por se cadastrar</h2>
  <div *ngIf="authService.userData as user">
    <p class="text-center">
      Nós enviamos um email de confirmacao para <strong>{{ user.email }}</strong
      >.
    </p>
    <p class="text-center">
      Para regularizar seu acesso confira seu email e click no link para
      verificar seu email.
    </p>
  </div>
  <button mat-raised-button (click)="authService.sendVerificationMail()">
    Reenviar verificação
  </button>
  <div class="redirectToLogin text-center">
    <span
      >Voltar e fazer
      <a routerLink="/login" routerLinkActive="active">Login?</a></span
    >
  </div>
</div>
