<div class="container">
  <div class="form-container">
    <button mat-raised-button (click)="googleLogin()" class="google">
      <mat-icon
        style="width: 40px; height: 24px"
        svgIcon="google_logo"
      ></mat-icon>
      Entrar com conta Google
    </button>
    <div class="or">
      <span class="orInner">ou</span>
    </div>
    <button mat-raised-button routerLink="/email-login" class="email">
      Logar com Email
    </button>
    <div class="links">
      <a
        routerLink="/cadastro"
        routerLinkActive="active"
        class="create-account-txt"
        >Não tem cadastro? <strong>Crie um</strong></a
      >
    </div>
  </div>
</div>
