<div class="container mat-body">
  <h3 class="mat-h3">Faça o Login</h3>
  <form class="my-form">
    <mat-form-field class="full-width" appearance="fill">
      <mat-label>Usuário</mat-label>
      <input matInput value="" #userName required />
    </mat-form-field>
    <mat-form-field class="full-width" appearance="fill">
      <mat-label>Senha</mat-label>
      <input matInput type="password" #userPassword required />
    </mat-form-field>
  </form>
  <!-- Calling SignIn Api from AuthService -->
  <div>
    <button
      mat-raised-button
      (click)="authService.signIn(userName.value, userPassword.value)"
      class="google"
    >
      Entrar
    </button>
  </div>
  <div class="or">
    <span class="orInner">Ou</span>
  </div>
  <!-- Calling GoogleAuth Api from AuthService -->
  <div>
    <button
      mat-raised-button
      (click)="authService.googleLogin()"
      class="google"
    >
      <mat-icon
        style="width: 40px; height: 24px"
        svgIcon="google_logo"
      ></mat-icon>
      Entrar com conta Google
    </button>
  </div>
  <div class="forgotPassword">
    <a routerLink="/esqueceu-senha" routerLinkActive="active"
      >Esqueceu a senha?</a>
  </div>
  <div class="redirectToLogin">
    <span
      >Não tem um cadastro? <a
        routerLink="/cadastro"
        routerLinkActive="active"
      >Cadastrar</a
      ></span
    >
  </div>
</div>
