<div class="container" *ngIf="authService.user | async as user">
  <p>Refaça o login antes de excluir o Perfil</p>
  <div *ngIf="user.loginMode == 'google-oauth'">
    <button mat-raised-button (click)="googleLogin()" class="google">
      <mat-icon
        style="width: 40px; height: 24px"
        svgIcon="google_logo"
      ></mat-icon>
      Excluir perfil
    </button>
  </div>
  <div
    *ngIf="user.loginMode == 'email-password'"
    class="full-width text-center"
  >
    <mat-form-field class="full-width" appearance="fill">
      <mat-label>Email</mat-label>
      <input
        matInput
        required
        [(ngModel)]="userEmail"
        (keyup.enter)="onEnter()"
      />
    </mat-form-field>
    <mat-form-field class="full-width" appearance="fill">
      <mat-label>Senha</mat-label>
      <input
        matInput
        type="password"
        (keyup.enter)="onEnter()"
        [(ngModel)]="userPassword"
        required
        autocomplete="current-password"
      />
    </mat-form-field>

    <!-- Calling SignIn Api from AuthService -->
    <button mat-raised-button (click)="emailLogin()">Excluir Perfil</button>
  </div>
</div>
