<div class="container">
  <h3 class="mat-h3">Enviar Foto</h3>
  <div id="cropped-img"><img *ngIf="cropper.isCropped" [src]="croppedImage" /></div>
  <div class="flex-row margin-5">
    <button mat-raised-button color="accent" *ngIf="cropper.isCropped" (click)="enviar()">
      <mat-icon>file_upload</mat-icon>
      Enviar
    </button>
  </div>
  <div class="cropper-component">
    <div class="flex-row justify-between">
      <button mat-raised-button color="primary" (click)="_fileInput.click()">
        <mat-icon>image</mat-icon>
        <span>Selecionar</span>
      </button>
      <div>
        <button
          *ngIf="cropper.isLoaded"
          color="accent"
          (click)="cropper.crop()"
          mat-raised-button
        >
          <mat-icon>crop</mat-icon>
          Cortar
        </button>
      </div>
    </div>
    <input
      #_fileInput
      type="file"
      (change)="selectInput($event)"
      accept="image/*"
      hidden
    />

    <div *ngIf="cropper.isLoaded"  class="flex-row flex-wrap justify-between">
      <button class="margin-2" (click)="cropper.zoomIn()" mat-raised-button appearance="icon">
        <mat-icon>zoom_in</mat-icon>
      </button>
      <button class="margin-2" (click)="cropper.zoomOut()" mat-raised-button appearance="icon">
        <mat-icon>zoom_out</mat-icon>
      </button>
      <button class="margin-2" (click)="cropper.center()" mat-raised-button appearance="icon">
        <mat-icon>filter_center_focus</mat-icon>
      </button>
      <button class="margin-2" (click)="cropper.rotate(-90)" mat-raised-button appearance="icon">
        <mat-icon>rotate_90_degrees_ccw</mat-icon>
      </button>
      <button class="margin-2" (click)="cropper.fit()" mat-raised-button>
        <mat-icon>unfold_less</mat-icon>
      </button>
      <button class="margin-2" (click)="cropper.fitToScreen()" mat-raised-button>
        <mat-icon>fit_screen</mat-icon>
      </button>
      <button class="margin-2" (click)="cropper.setScale(1)" mat-raised-button>1:1</button>
      <button class="margin-2" (click)="cropper.clean()" mat-raised-button>
        <mat-icon>undo</mat-icon>
      </button>
    </div>

    <ly-img-cropper
      [withClass]="classes.cropper"
      [config]="myConfig"
      (cropped)="onCropped($event)"
      (ready)="ready = true"
      (cleaned)="ready = false"
    >
      <span>Drag and drop image</span>
    </ly-img-cropper>
  </div>
</div>
