<div class="container">
  <div class="flex-row align-items-center margin-10">
    <mat-icon class="margin-2">verified</mat-icon>
    <h2 class="mat-h2">Recursos Adicionais</h2>
  </div>
  <div>
    <span
      >Você precisa ser um assinante para cadastrar até 10 currículos
      simultâneos.</span
    >
  </div>
  <div>
    <ul>
      <li>
        <button
          mat-raised-button
          color="accent"
          (click)="nav.navigateTo('/pagamento')"
        >
          Ir para o Pagamento
        </button>
      </li>
      <li><a (click)="back()" routerLink="">Voltar</a></li>
    </ul>
  </div>
</div>
