<div class="container">
  <div class="flex-row my-title">
    <h2 class="mat-h2">{{ pageTitle() }}</h2>
    <div>
      <button
        (click)="gerarPDF()"
        mat-icon-button
        [disabled]="disablePDF()"
        color="primary"
      >
        <mat-icon>picture_as_pdf</mat-icon>
      </button>
      <button (click)="addPhoto()" mat-icon-button color="primary">
        <mat-icon>add_a_photo</mat-icon>
      </button>
    </div>
  </div>
  <div class="flex-row" *ngIf="fotoDataUrl">
    <img class="my-picture" [src]="fotoDataUrl" />
    <div>
      <button (click)="delPhoto()" mat-icon-button color="primary">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </div>

  <form class="my-form" [formGroup]="curriculoForm">
    <mat-form-field class="full-width" appearance="fill">
      <mat-label>Identificador</mat-label>
      <input matInput required formControlName="identifier" />
    </mat-form-field>
    <div>
      <mat-checkbox color="primary" formControlName="compartilhar"
        >Autorizo compartilhar com recrutadores as informações deste
        currículo</mat-checkbox
      >
    </div>

    <h3>Dados Pessoais</h3>
    <mat-form-field class="full-width" appearance="fill">
      <mat-label>Nome Completo</mat-label>
      <input
        matInput
        required
        formControlName="name"
        autocomplete="full-name"
      />
    </mat-form-field>
    <mat-form-field class="full-width" appearance="fill">
      <mat-label>Email</mat-label>
      <input
        matInput
        required
        formControlName="email"
        autocomplete="current-email"
      />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Estado Civil</mat-label>
      <mat-select formControlName="estado_civil">
        <mat-option>Não selecionado</mat-option>
        <mat-option [value]="option" *ngFor="let option of estadoCivisList">{{
          option
        }}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Data de Nascimento</mat-label>
      <input
        #dataNascimentoInput
        matInput
        [matDatepicker]="picker"
        formControlName="data_nascimento"
      />
      <mat-hint>DD/MM/AAAA</mat-hint>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-form-field class="full-width" appearance="fill">
      <mat-label>Nacionalidade</mat-label>
      <input
        matInput
        required
        formControlName="nacionalidade"
        autocomplete="nacionalidade"
      />
    </mat-form-field>
    <mat-form-field class="full-width" appearance="fill">
      <mat-label>Telefone com DDD</mat-label>
      <input
        matInput
        required
        formControlName="telefone"
        autocomplete="telefone"
      />
    </mat-form-field>

    <mat-checkbox color="primary" formControlName="whatsapp"
      >Tem whatsapp?</mat-checkbox
    >
    <h3>Endereço</h3>
    <mat-form-field class="full-width" appearance="fill">
      <mat-label>Número</mat-label>
      <input matInput formControlName="numero" autocomplete="numero" />
    </mat-form-field>
    <mat-form-field class="full-width" appearance="fill">
      <mat-label>Complemento</mat-label>
      <input
        matInput
        formControlName="complemento"
        autocomplete="complemento"
      />
    </mat-form-field>
    <div class="flex-row">
      <mat-form-field class="full-width" appearance="fill">
        <mat-label>CEP</mat-label>
        <input matInput required formControlName="cep" autocomplete="cep" />
      </mat-form-field>
      <div class="padding-8">
        <button
          [disabled]="!isCepValid()"
          mat-raised-button
          (click)="consultarCep()"
        >
          Consultar
        </button>
      </div>
    </div>
    <mat-form-field class="full-width" appearance="fill">
      <mat-label>Rua</mat-label>
      <input matInput required formControlName="rua" autocomplete="rua" />
    </mat-form-field>
    <mat-form-field class="full-width" appearance="fill">
      <mat-label>Bairro</mat-label>
      <input matInput required formControlName="bairro" autocomplete="bairro" />
    </mat-form-field>
    <mat-form-field class="full-width" appearance="fill">
      <mat-label>Cidade</mat-label>
      <input matInput required formControlName="cidade" autocomplete="cidade" />
    </mat-form-field>
    <mat-form-field class="full-width" appearance="fill">
      <mat-label>Estado</mat-label>
      <input matInput required formControlName="estado" autocomplete="estado" />
    </mat-form-field>
    <h3>Escolaridade</h3>
    <mat-form-field appearance="fill">
      <mat-label>Selecione</mat-label>
      <mat-select formControlName="escolaridade">
        <mat-option>Não selecionado</mat-option>
        <mat-option [value]="option" *ngFor="let option of escolaridadeList">{{
          option
        }}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="full-width" appearance="fill">
      <mat-label>Descrição da Escolaridade</mat-label>
      <input
        matInput
        required
        formControlName="descricao_escolaridade"
        autocomplete="descricao_escolaridade"
      />
    </mat-form-field>
    <div class="flex-row">
      <h3>Cursos</h3>
      <div class="padding-8">
        <button
          [disabled]="!podeAddCurso()"
          (click)="addCurso('')"
          mat-icon-button
          color="primary"
        >
          <mat-icon>add_circle</mat-icon>
        </button>
      </div>
    </div>
    <p>
      Digite aqui Até 3 cursos que você tenha feito, por exemplo, se você tem
      conhecimentos em Informática, sabe usar o computador para ler emails,
      navegar na internet, digitar um texto, pode colocar: Informática Básico.
      Caso não tenha nenhum curso, pode deixar em branco.
    </p>
    <div formArrayName="cursos">
      <div *ngFor="let cm of cursos.controls; index as i" class="flex-row">
        <mat-form-field class="full-width" appearance="fill">
          <mat-label>Curso {{ i + 1 }}</mat-label>
          <input
            required
            [formControlName]="i"
            matInput
            autocomplete="curso_{{ i + 1 }}"
          />
        </mat-form-field>
        <div class="padding-8">
          <button (click)="deleteCurso(i)" mat-icon-button color="primary">
            <mat-icon>remove_circle</mat-icon>
          </button>
        </div>
      </div>
    </div>
    <h3>Objetivo</h3>
    <mat-form-field class="full-width" appearance="fill">
      <mat-label>Seu objetivo profissional</mat-label>
      <input
        matInput
        required
        formControlName="objetivo"
        autocomplete="objetivo"
      />
    </mat-form-field>
    <div class="flex-row">
      <h3>Experiências Profissionais</h3>
      <div class="padding-8">
        <button
          [disabled]="!podeAddExperiencia()"
          (click)="addExperiencia()"
          mat-icon-button
          color="primary"
        >
          <mat-icon>add_circle</mat-icon>
        </button>
      </div>
    </div>
    <p>
      Preencha com até 3 empresas nas quais você já trabalhou, escolha as
      empresas preferencialmente das mais recentes para mais antigas. Caso seja
      seu primeiro emprego, e você não tenha experiência nenhuma, não adicione
      nenhuma empresa, e automaticamente será preenchido "EM BUSCA DE MEU
      PRIMEIRO EMPREGO".
    </p>
    <ng-container formArrayName="experiencias">
      <ng-container
        *ngFor="let adminForm of experiencias.controls; let i = index"
      >
        <div class="flex-row">
          <h4>Experiência {{ i + 1 }}</h4>
          <div class="padding-8">
            <button
              (click)="deleteExperiencia(i)"
              mat-icon-button
              color="primary"
            >
              <mat-icon>remove_circle</mat-icon>
            </button>
          </div>
        </div>
        <div [formGroupName]="i">
          <mat-form-field class="full-width" appearance="fill">
            <mat-label>Empresa {{ i + 1 }}</mat-label>
            <input
              required
              formControlName="empresa"
              matInput
              autocomplete="empresa_{{ i + 1 }}"
            />
          </mat-form-field>
          <mat-form-field class="full-width" appearance="fill">
            <mat-label>Período {{ i + 1 }}</mat-label>
            <input
              required
              formControlName="periodo"
              matInput
              autocomplete="periodo_{{ i + 1 }}"
            />
          </mat-form-field>
          <mat-form-field class="full-width" appearance="fill">
            <mat-label>Cargo {{ i + 1 }}</mat-label>
            <input
              required
              formControlName="cargo"
              matInput
              autocomplete="cargo_{{ i + 1 }}"
            />
          </mat-form-field>
          <mat-form-field class="full-width" appearance="fill">
            <mat-label>Atividades Exercidas {{ i + 1 }}</mat-label>
            <input
              required
              formControlName="atividades_exercidas"
              matInput
              autocomplete="atividades_exercidas_{{ i + 1 }}"
            />
          </mat-form-field>
        </div>
      </ng-container>
    </ng-container>
  </form>
  <!-- Calling SignIn Api from AuthService -->
  <button
    [disabled]="!isFormValid()"
    mat-raised-button
    color="primary"
    (click)="gravar()"
  >
    Salvar
  </button>
</div>
