/* You can add global styles to this file, and also import other style files */
//@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "./theme.scss";

body {
  margin: 0;
}

.or {
  padding: 2px;
}
.text-center {
  text-align: center;
}

.my-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.full-width {
  width: 100%;
}

.container {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 18px;
  text-align: justify;
  padding-bottom: 40px;
  margin-bottom: 60px;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.align-items-center {
  align-items: center;
}

ul {
  list-style: none;
  padding: 0;
}

.display-none {
  display: none;
}

.padding-8 {
  padding: 8px;
}

.margin-2 {
  margin: 2px !important;
}

.margin-5 {
  margin: 5px !important;
}

.margin-10 {
  margin: 10px !important;
}

.margin-top-10 {
  margin-top: 10px;
}

.justify-end {
  justify-content: end;
}

.justify-between {
  justify-content: space-between;
}

.flex-wrap {
  flex-wrap: wrap;
}

.mat-checkbox-layout {
  white-space: normal !important;
}
.mat-checkbox-inner-container {
  margin-top: 4px;
}

.my-fab-buttons {
  position: fixed;
  bottom: 5px;
  right: 30px;
  display: flex;
  flex-direction: column;
}

.my-fab-buttons > button {
  margin: 5px 0;
}

.ng2-pdf-viewer-container {
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.footer {
  margin-bottom: 10px;
  text-align: center;
}

.align-items-center {
  align-items: center;
}

.align-items-center .mat-h2 {
  margin: 0;
}